*{
    margin: 0px;
    padding: 0px;
}
.logo-container{
    display: flex;
    background-color: azure;
    list-style: none;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
}
.logo{
    /* background-image: url('../Digital-Product-b8-test/logo/logo-dark.png');
     */
     display: flex;
}
.logo-photo{
    width: 100px;
}
.menu{
    display: flex;
    /* text-decoration: none; */
}
.item{
    /* margin: 10px right; */
    margin-right: 10px;
    padding-right: 5px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}
.main-container{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: antiquewhite;
    background-image: url("background.png") linear-gradient(45deg,rgb(8, 8, 8),rgb(53, 53, 53));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.banner-photo{
    display: flex;
    width: 300px;
}
.description{
    /* display: flex; */
}
.title{
    color: rgb(9, 129, 234);
    font-weight: bold;
    /* font-size: larger; */
    font-size: xx-large;
}
.info{
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn{
    padding: 10px 10px;
    background-color: red;
    color: white;
    border: none;
}